.hero-footer{
    background-image: url("/images/Hero-footer.svg");
    background-repeat: no-repeat;
  
}
.learn-more1, .learn-more2{
    margin:0px;
}
h2{
    margin-left: 100px;
}
.newslater{
    color:white;
}
.navbar-nav{
   flex-direction: row;
}
.nav-item{
    padding-right: 20px;
}