body{
    margin:0px!important;
    font-family: Arial Rounded MT, Helvetica Rounded,Arial,sans-serif; 
}
.container-fluid{
    /* margin:0px!important; */
    width: 100%;
    /* padding: 0px!important; */
}
    .row{
    /* margin:0px!important; */
    --bs-gutter-x: 0px;
}



.padding-left-right{
    padding-left:200px;
    padding-right:200px;
    padding-top:40px;
    padding-bottom:40px;
}
.hero-text{
margin-top:100px;
color:white;
}

.feature-icon, .align-center{
text-align: center;
}
.buttons{
    margin-left: 100px;
    margin-top:40px;
    /* position: relative;
    z-index: 1; */
}
.learn-more1{
    background:url("../images/Component1.png");
  color: #725ABD;  
  border-radius: 5px;
  height:78px;
  width: 265px;
}
.learn-more2{
    background:url("../images/Component2.png");
    color: #725ABD;  
    border-radius: 5px;
    height:78px;
    width: 265px;
}
.mockup-mix{
    background-image: linear-gradient( #F5C13C, #FF9900);
    width: 100%;
}
.img-responsive{
height:550px;
}
.swicon{
    height: 156px;
    padding:20px;
    border-radius:20px;
    justify-content: center;
}
.icon-1{
    background-color:#8AEDA8;
    
}
.icon-2{
    background-color:#8ACFF0;
}
.icon-3{
    background-color:#FFBD3E;
}
.orange-gradient{
    background-image: linear-gradient( #F5C13C, #FF9900);
    width: 100%;
}
.purple-gradient{
    background-image: linear-gradient( #9563D6, #8059D3);
}
.feature-text{
    margin-top:100px;
}
.padding-top-bottom{
    padding-top:100px;
    padding-bottom: 100px;
}
.testim-text{
margin-top:10%;
padding-left: 200px;
padding-right: 50px;
}
.quote1, .quote2{
  height:40px;
    }
    .quote2{
        margin-left: 200px;
    }
.testim-image img{
   height: 518px;
   background-image: linear-gradient( #F5C13C, #FF9900);
  
    }
.fa-angle-left, .fa-chevron-left{
    background-image: linear-gradient( #9563D6, #8059D3);
height:80px;
width: 80px;
text-align: center;
padding-top: 35px;
color: white;
}
.fa-angle-right, .fa-chevron-right{
background-color: white;
height:80px;
width: 80px;
text-align: center;
padding-top: 35px;
border:1px solid grey;
color:linear-gradient( #9563D6, #8059D3);
}
#myweirdshape{
    clip-path: polygon(0 1%, 100% 0, 100% 62%, 0 52%);
    background-image: linear-gradient( #9563D6, #8059D3);
}
/* #myweirdshape{
        width: 0px;
        height: 0px;
        border-left: 0px solid #8059D3;
        border-right: 1440px solid #8059D3;
        border-top:200px solid #8059D3;
        border-bottom: 150px solid transparent;
        position: relative;
     
      }
       */


/* icons */
       .fa-star{
           color:#9563D6;
           padding-right:2px;

       }
       